body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #34b7a7;
    text-decoration: none;
}

a:hover {
    color: #51cdbe;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/* HEADER */

i.bi.bi-list {
    font-size: 32px;
    color: #34b7a7;
}

#header {
    background-color: #e9e8e6!important;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "Raleway", sans-serif;
}

#header .logo a {
    color: #222;
}

.header-social-links {
    padding-right: 15px;
}

.header-social-links a {
    color: #6f6f6f;
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
}

.navbar-nav li a {
    font-family: "Raleway", sans-serif;
}

.header-social-links a:hover {
    color: #34b7a7;
}

.nav-link {
    padding: 0!important;
}

.navbar-collapse .navbar-collapse ul li a {
    font-family: "Raleway", sans-serif;
}

.navbar-collapse>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #34b7a7;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-collapse>ul>li>a:hover,
.navbar-collapse .active:before,
.navbar-collapse>li:hover>a:before {
    visibility: visible;
    color: #222222;
    width: 100%;
}

.navbar-collapse a:hover,
.navbar-collapse .active,
.navbar-collapse li:hover>a {
    color: #222222;
}


/* NAVBAR */

.navbar-collapse {
    justify-content: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    position: relative;
    padding: 10px 0 10px 28px;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #888888;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}


/* SECTIONS */

#author {
    min-height: 84vh;
}

section {
    padding: 60px 0px;
}

.section-title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #34b7a7;
    left: calc(50% - 25px);
}


/* HOME */

#home {
    padding: 0!important;
}

.w-100 {
    height: 100vh;
}


/* ABOUT */

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555;
}

.about .content ul {
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

#skills {
    background-color: #f8f8f8;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.progress-bar-wrap {
    background-color: #f3f3f3;
}

.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar {
    height: 10px;
    transition: 0.9s;
    background-color: #34b7a7;
}

.facts .counters span {
    font-size: 48px;
    display: block;
    color: #34b7a7;
}

.facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}


/* SERVICES */

.bg-light {
    background-color: #fff !important;
    border: none;
    box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
}

.card-holder {
    padding-bottom: 24px;
}

.card-holder:hover {
    transform: translateY(-2px);
    transition: all .3s ease-in-out
}

.card {
    padding: 70px 20px 70px 20px;
}

.card-header,
.card-body {
    text-align: center;
}

.card-body p {
    font-size: 15px;
}

.card-header {
    background: none;
    border: none;
    border-radius: 50% !important;
    margin: 0px auto;
    background-color: #e9e8e6;
}

.card-header i {
    font-size: 32px;
}

.card-header i::before {
    vertical-align: middle;
}

.icon-blue i {
    color: #47aeff;
}

.icon-orange i {
    color: #ffa76e;
}

.icon-pink i {
    color: #e80368;
}

.icon-yellow i {
    color: #ffbb2c;
}

.icon-red i {
    color: #ff5828;
}

.icon-teal i {
    color: #11dbcf;
}


/* PORTFOLIO */

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(34, 34, 34, 0.6);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #78d9cd;
}

.portfolio .portfolio-wrap:hover::before {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}


/* CONTACT */

.contact .info i {
    font-size: 20px;
    color: #34b7a7;
    float: left;
    width: 44px;
    height: 44px;
    background: #effbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555555;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

@media (min-width: 992px) {
    .col-md-12 {
        display: block !important;
    }
    .contact .info .email,
    .contact .info .phone {
        margin-top: 40px !important;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        display: flex;
        justify-content: center;
    }
    .contact .info .email,
    .contact .info .phone {
        margin-top: 0px;
    }
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #34b7a7;
    color: #fff;
}

.form-button {
    margin-top: 16px;
}

.btn-primary {
    background: #34b7a7;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #3dc8b7!important;
    transform: translateY(-2px);
    transition: all .3s ease-in-out;
}

#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}